/** FONTS **/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
/** MAIN COLORS **/
/** BODY **/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/** HEADER **/
#header {
  border-bottom: 4px solid #5e6c70;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#header #logo img {
  margin: 10px;
  width: 60px;
}
#header #page-name {
  margin: 10px;
}
/** MAIN **/
main #jumbotron {
  background: #02b3e4 url(../../img/resp/poly_back10-1600_lg.jpg) no-repeat;
  height: 500px;
  background-size: cover;
  width: 100vw;
}
main h2 {
  margin: 15px;
}
main .content {
  width: 100vw;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
main .content .content-block {
  width: 33%;
  padding: 15px;
}
main .content .content-block img {
  max-width: 100%;
  height: auto;
}
/** mobile **/
@media (max-width: 767px) {
  #header {
    padding: 10px;
    margin-bottom: 15px;
  }
  #header #logo img {
    width: 40px;
    margin: 5px;
  }
  #header #page-name {
    font-size: 0.8em;
    margin: 5px;
  }
  main #jumbotron {
    max-height: 50vh;
  }
  main .content {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  main .content .content-block {
    width: 100%;
    padding: 20px 6%;
  }
  main .content .content-block img {
    max-width: 100%;
  }
}
